.buttonBox {
    display: grid;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: transparent;
    height: calc(100% - 110px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    border: 2px solid grey;
    border-radius: 9px;
    box-sizing: border-box;
}